$myColor: black;
$navbarColor: #919191;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$color-border: #eee;
$color-label: #aaa;
$primary-color: #ffffff;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';

body {
    margin-top: 25px;
    margin-left: 30px
}


.order-summary {

    height: 90%;
    width: 25%;
    position: fixed;
    z-index: 2;
    top: 75px;
    right: 0;
    background-color: lightgray;
    overflow-x: hidden;
    margin-top: 48px;
    margin-left: 40px;
}


a {
    text-decoration: none;
    color: $navbarColor !important;
}

.content {
    margin-left: 200px;
    padding-left: 20px;
}
.product {
    // border: solid 1px #ff0000;
    zoom: 1; /* IE6&7 */
    // border-top: 1px solid $navbarColor;
    margin: 20px;
    display: flex;
    align-items: center;
}

.product:before,
.product:after {
    content: "";
    display: table;

}

.product:after {
    clear: both;

}

.product-image {
    float: left;
    width: 25%;
    margin-right: -325px;

    img {
        height: 100px;
        width: auto
    }
}

.product-image-saved {
    float: left;
    width: 5%;

    img {
        height: 75px;
        width: auto
    }
}

.product-details {
    float: left;
    width: 25%;
}
.product-type {
    float: left;
    width: 30%;
}
// .product-info {
//     float: left;
//     width: 10%;
// }

// .product-options2 {
//     float: left;
//     width: 10%;
// }


.product-options {
    margin-top: 150px;
    margin-left: -145px;

    button {
        padding: 10px 35px;
        text-align: center;
        border-radius: 15px 15px;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: 1px solid $navbarColor;
    }
}

// .product-options > button {
//     border-radius: 15px 15px;
//     background-color: Transparent;
//     background-repeat: no-repeat;
//     border: 1px solid $navbarColor;
//     // cursor: pointer;
//     // overflow: hidden;
//     padding: 10px 35px;
//     text-align: center;
//     // text-decoration: none;
//     // display: inline-block;
//     font-size: 15px;
// }

.navbar {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $navbarColor !important;

    .navbar-left {
        justify-content: flex-start;

        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            flex-basis: 300px;
            align-items: center;
            color: #fff;
        }
        li {
            float: left;
            display: block;
            color: $navbarColor;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px !important;
        }

    }

    .navbar-right {
        justify-content: flex-end;
        margin-left: 500px !important;

        ul {
            list-style-type: none;
            // float: right;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            flex-basis: 300px;
            align-items: center;


        }
        li {
            display: block;
            float: left;
            color: $navbarColor;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            overflow: hidden;
            font-size: 20px !important;
        }

        a {
            text-decoration: none;
            color: $navbarColor !important;
        }
    }
}

/* Make more adjustments for phone */

@media screen and(max-width: 650px) {
    .product-image {
        img {
            height: 90px;
            width: auto
        }
    };
}


@media screen and(max-width: 350px) {
    .product-image {
        img {
            height: 75px;
            width: auto
        }
    };
}
